@model IEnumerable<Cashier_System.Models.Bills>
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "bills";
}
@using Microsoft.AspNetCore.Identity
@using Cashier_System
@using Cashier_System.Data
@namespace Cashier_System.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DevExtreme.AspNet.Mvc
<h1>bills</h1>
<script src="~/js/AjaxMethods.js"></script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Taxes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user)
                </td>

                <td>
                    <a asp-action="Edit_bill" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="bill" asp-route-Bill_Id="@item.Id">Details</a> |
                    <button onclick="Delete_bill(@item.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
