@model IEnumerable<Cashier_System.Models.Users>
@using Microsoft.AspNetCore.Identity
@using Cashier_System
@using Cashier_System.Data
@namespace Cashier_System.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DevExtreme.AspNet.Mvc
@{
    Layout = "_Layout";
}
<script>

    function delete_account(x) {
        $.ajax(
            {
                type: "POST",
                url: "/Admin/DeleteUser",
                data: { id: x },
                datatype: "json",

            }

        )

    };


</script>
<table class="table" style="margin-bottom:100px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            
         
         

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                

                <td>
                    <a asp-action="EditCashier" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                    <a href="" onclick="delete_account('@item.Id')">Delete</a>
                </td>
            </tr>
        }


    </tbody>

    </table>